<h1>BBQs</h1>

<div>
  <a href="<%= new_barbecue_path %>" class="btn btn-primary">
    Add a new BBQ
  </a>
</div>
<div>
  <p>Click here to see all the barbecues</p>
  <button class="btn btn-primary" id="showAll">Show all</button>
</div>
<div id="main">

</div>
<div id="addNewItem"></div>
