
  <center>
    <button type="submit" id="show_all">Get all the matches as a JSON</button>
    <form>
      <div class="form-group">
        <p>Enter the ID of a player for example 10</p>
        <input type="text" name="player">
        <input type="submit">
      </div>
    </form>
    <div id="container"></div>
  </center>
