<html>
    <head>
    <style>
    body {background-color:lightblue}
    </style>
        <title>Shouter</title>
    </head>
    <body>
    <h1>Oops, something went wrong!</h1>
    <p><a href="/">Back to the home page</a></p>
 </body>
</html>
</form> 
